/*
I don't know how to import a stylesheet through an web extension, so I put the contents of this in innerHTML.
CHANGING THIS FILE WILL NOT CHANGE THE STYLESHEET.
CHANGE IT IN testAlert.js IF YOU WANT TO CHANGE THE STYLESHEET.
*/
.sidebar-abstract {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
    padding-top: 20px;
}

.oldcontent-abstract {

    padding: 20px;
    display: grid;
}

body{
    background-color: green;
}